<div class="mt-3">
  <div class="mb-3">
    <h1>Khóa học của tôi</h1>
    <a href="/me/trash/courses">Khóa học đã xóa ({{deleteCount}})</a>
  </div>
  <form method="POST" action="/courses/handle-form-action">
    <div class="d-flex align-item-center" >
      <select name="action" id="select-action" class="form-select form-select-sm select-all-form mx-3" aria-label=".form-select-sm example" >
        <option value=""> -- Chọn hành động -- </option>
        <option value="delete">Xóa</option>
      </select>
      <input id="btn-action-submit" type="submit" class="btn btn-sm btn-primary" value="Thực hiện" disabled>
    </div>
    <table class="table">
      <thead>
        <tr>
          <td scope="row form-check">
            <input class="form-check-input" type="checkbox" id="checkall">
          </td>
          <th scope="col">
            ID
            {{{sortable '_id' _sort}}}
          </th>
          <th scope="col">
            Name
            {{{sortable 'name' _sort}}}
          </th>
          <th scope="col">
            Description
            {{{sortable 'description' _sort}}}
          </th>
          <th scope="col">
            VideoID
            {{{sortable 'videoID' _sort}}}
          </th>
          <th scope="col">
            Create at
            {{{sortable 'createAt' _sort}}}
          </th>
        </tr>
      </thead>
      <tbody>
        {{#each courses}}
          <tr>
            <td scope="row form-check">
              <input type="checkbox" onchange="checkBoxOnChange()" class="form-check-input"  value="{{this._id}}" name="courseIds[]">
            </td>
            <th scope="row">{{this._id}}</th>
            <td>{{this.name}}</td>
            <td>{{this.description}}</td>
            <td>{{this.videoID}}</td>
            <td>{{this.createAt}}</td>
            <td><a href="/courses/{{this._id}}/edit">Sửa</a></td>
            <td><a  href="/courses/{{this._id}}/delete" data-id={{this._id}} data-bs-toggle="modal" data-bs-target="#deleteModal">Xóa</a></td>
          </tr>
        {{else}}
          <tr>
            <td colspan="5" class="text-center">
              Bạn chưa đăng khóa học nào.
              <a href="/courses/create">Đăng khóa học</a>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </form>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Xóa khóa học</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Bạn chắc chắn muốn xóa khóa học này?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" id="accept-delete-btn">Xóa</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
      </div>
    </div>
  </div>
</div>

<form method="POST" name="delete-course"></form>

<script>
  var deleteModal = document.getElementById('deleteModal');
  var deleteForm = document.forms['delete-course'];
  var deleteBtn = document.getElementById('accept-delete-btn');
  var checkBoxAll = document.getElementById('checkall');
  var courseItemCheckBox = document.getElementsByName('courseIds[]');
  var selectAction = document.getElementById('select-action');
  var btnActionSubmit = document.getElementById('btn-action-submit');
  console.log(courseItemCheckBox);
  var id;
  deleteModal.addEventListener('show.bs.modal', function (event) {
    var button = event.relatedTarget;
    id = button.getAttribute('data-id');
  })

  deleteBtn.onclick = function() {
    deleteForm.action = '/courses/' + id + '?_method=DELETE';
    deleteForm.submit();
  }

  function changeDisabled() {
    console.log(isChecked);
    if (selectAction.value != "" && isChecked) btnActionSubmit.disabled = false;
    else btnActionSubmit.disabled = true;
  }

  var isChecked = false;

  // checkboxAll onchange
  checkBoxAll.onchange = function() {
    isChecked = checkBoxAll.checked; 
    courseItemCheckBox.forEach(checkBox => {
      checkBox.checked = isChecked;
    }); 
    changeDisabled();
  }

  // checkboxX onchange

  function checkBoxOnChange() {
    var isCheckAll = true, isHaveCheck = false;
    courseItemCheckBox.forEach(checkBox => {
      isCheckAll = isCheckAll & checkBox.checked;
      isHaveCheck = isHaveCheck | checkBox.checked;
    })
    isChecked = isHaveCheck;
    checkBoxAll.checked = isCheckAll;
    changeDisabled();
  }
  
  selectAction.onchange = function() {
    changeDisabled();
  };

</script>
